/* Adjustments for the Navbar */

/* General style of the navbar */
.navbar {
  display: flex;
  align-items: center;
}

/* Style for the login section in the navbar */
.nav-login {
  display: flex;
  align-items: center;
}

/* Style for the image in the login link */
.nav-login a img {
  margin-left: 10px;
}

/* Style for the brand title in the navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 25px;
}

/* Style for the buttons inside containers */
.container button {
  background-color: black; 
  color: rgba(255, 176, 124, 0.925);
}

/* Style for custom button on hover */
.btn-custom:hover {
  background-color: #333333; 
  color: #cfcfcf; 
}

/* Style for the login form container */
.login-form-container {
  padding: 120px 0;
}

/* Style for the slogan */
#slogan {
  margin-top: 25px;
}

/* Style for the banner */
.banner {
  position: relative;
  padding: 200px 0;
  background: url(images/sfondo.jpg) bottom no-repeat;
  background-size: cover;
}

/* Style for the headline on the homepage */
#h1homepage {
  position: absolute;
  top: 5px; 
  left: 50%;
  transform: translateX(-50%);
}

/* Style for the headline inside the banner */
.banner h1 {
  font-size: 45px;
  color: white;
  background-color: rgba(255, 94, 0, 0.15);
  border-radius: 15px; 
}

/* CSS for the Summaries page */

/* Style for the summary columns */
.col-md-4 {
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px; 
  background-color: #ffe3a5; 
  margin: 3px;
}

/* Style for the titles on the summaries page */
#h2style {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: rgba(255, 102, 0, 0.925);
  display: inline-block;
}

/* Style for the summaries container */
.riassunti-container {
  margin: 20px;
  padding: 20px;
}

/* Style for individual summaries */
.riassunto {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

/* Style for the summary titles */
.riassunto h2 {
  color: #333;
}

/* Style for the summary paragraphs */
.riassunto p {
  color: #666;
}

/* Style for lists, removes bullets */
ul {
  list-style-type: none;
}

/* CSS for the upload_summaries page */

/* Custom padding for the form */
.padform {
  padding: 0 400px;
}

/* Style for hoverable elements in summaries */
.hoversummaries {
  color: black;
  padding: 10px 15px; 
  border-radius: 10px; 
  display: inline-block; 
  margin: 5px 0; 
  text-decoration: none; 
}

/* Style on hover for hoverable elements */
.hoversummaries:hover {
  background-color: #333333; 
  color: rgba(255, 176, 124, 0.925);
}

/* Background style for the body */
body {
  background: url('images/sfondo1.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style for the content container */
.content-container {
  padding: 120px 0;
}

/* Login Page */

/* Style for the login form button */
#formbutton {
  margin-top: 10px;
}

/* Style for the form group */
#divformgroup {
  margin-top: 10px;
}

/* Style for the login form title */
#h2login {
  margin-bottom: 25px;
}

/* Style for the centered form */
.form-centered {
  max-width: 400px;
  margin: 0 auto;
}

